.markdown-text ul li {
  list-style: disc;
}
.markdown-text ol,
.markdown-text ul {
  padding: 0;
  margin: 0 0 10px 25px;
}
.preview p,
.reply_content p,
.reply_form p,
.topic_content p {
  font-size: 15px;
}
.markdown-text p {
  font-size: 15px;
  line-height: 1.7em;
  overflow: auto;
}
.markdown-text {
  h1 small,
  h3 {
    font-size: 24.5px;
  }
}

.topic_full_title {
  font-size: 22px;
  font-weight: 700;
  margin: 8px 0;
  display: inline-block;
  vertical-align: bottom;
  width: 75%;
  line-height: 130%;
}

img {
  width: 100%;
}
.user {
  .user-info {
    img {
      width: 30px;
    }
  }
  .recent-reply-list {
  }
}

.markdown-text li code,
.markdown-text p code,
.preview li code,
.preview p code {
  color: #000;
  background-color: #fcfafa;
  padding: 4px 6px;
}

div pre.prettyprint {
  font-size: 14px;
  border-radius: 0;
  padding: 0 15px;
  border: none;
  margin: 20px -10px;
  border-width: 1px 0;
  background: #f7f7f7;
  -o-tab-size: 4;
  -moz-tab-size: 4;
  tab-size: 4;
}

code,
pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  color: #333333;
}
